html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    font-weight: 400;
}

@-moz-document url-prefix() {
    body {
        font-weight: normal !important;
    }
}

@font-face{
font-family: furore;
  src: url(Furore.otf);
}

*{
	margin:0;
	box-sizing:border-box;
	font-family: calibri;
}



.banner{
	display: flex;
	background-color:#cdcdcd;
	justify-content: center;
}

.menu {
	/*min-height: 55px;*/
	display: flex;
	position: sticky;
	justify-content: center;
	background-color: #393b3b;
	top: 0;
	z-index: 100;
	box-shadow: 0px 18px 24px -15px
}

.menu ul{
	/*min-height: 55px;*/
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: auto;
}
.menu li {
	display: inline-block;
	font-family:calibri;
	font-size: 150%;
	color:white;
	margin: 0;
}
.menu a {
	/*min-height: 55px;*/

	font-family:calibri;
	color:white;
	padding: 15px;
	text-decoration: none;
	margin: 0;
	height:100%;
	text-align: center;

	display: flex;
    justify-content: center;
    align-items: center;
}
.menu a:hover {
	color: #000000;
}
.menu li:hover {
	background-color: #6d6d6d
}
.tlo {
	background-image: url("Obrazki/tlo.png");
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.tresc{
	background-color: white;
	width: 75%;
	display: flex;
	position: relative;
	padding: 20px;
	left:12.5%;
	z-index: 2;
}
.stopka{
	/*min-height: 80px;*/
	display: inline-flex;
	width: 100%;
	background-color: #333;
	color:white;
	font-family: calibri;
}
.lista{
	display: flex;
}
.prawo{
	display: flex;
	justify-content: flex-end;
	flex: 1 1 0%;
	background-color: #333;
	color:#ffffffbb;
	font-family: calibri;
	text-align: right;
	width:50%;
	padding: 30px 70px 30px 0px;
	margin-left: auto;
}
.lewo{
	display: flex;
	justify-content: left;
	flex: 1 1 0%;
	background-color: #333;
	color:#ffffffbb;
	font-family: calibri;
	text-align: left;
	float: left;
	width:50%;
	padding: 30px 0px 30px 70px;
}
p{
	padding-left: 15px;	
	padding-right: 15px;	
}
.dolnemenu{
	padding-left: 20px;	
	padding-right: 20px;	
	}
.stopka a {
	display: flex;
	font-family:calibri;
	background-color: #333;
	color:#ffffffbb;
	text-decoration: none;
	margin: 0;
	}
.stopka a:hover{	
	color:white
}
h4{
	font-family: furore;
	font-weight: normal;	
	color:white;
}
.li-aktywne a {
	background-color: #04AA6D;
	color: white;
  }
  
  .li-aktywne a:hover {
	background-color: #04AA6D;
	color: black;
  }

/*///////////////////////////////////////////////

	KONTAKT.PHP					

///////////////////////////////////////////////*/
.kontaktlewo{
	padding: 30px;
	width: 45%;
	text-align: center;
	font-size: 150%;
	float: left;
	justify-content: center;
	
}
.pkontaktl{
	font-family: furore;
	padding-bottom: 30px;
	text-align: left;
}
.tekst img, .tekst svg {
	vertical-align:middle;
}
.tekst a, .tekst a:visited{
	text-decoration: none;
    color: #333;
}
.tekst a:hover{
	text-decoration: none;
    color: rgb(0, 0, 0);
}
.tekst{
	font-family:calibri;
	padding: 15px 0px 15px 15px;
	text-align: left;
	float: left;
	justify-items: center;
	clear: both;

}
.svgobrazek{
	height:auto;
	width:40px;
	float: left;
}
.tekstobrazek{
	height:auto;
	width:calc(100% - 40px);
	word-wrap: break-word;
	padding-left: 15px;
	vertical-align: middle;
	display: inline-block;
}
/* ROZWIJANY DIV*/
.rozwijanyInfo {
	background-color: #333;
	color: white;
	cursor: pointer;
	margin-top: 20px;
	padding: 20px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
  
  .rozwactiveInfo {
	background-color: #555
  }
  .rozwijanyInfo:hover {
	background-color: #6d6d6d
  }
  
  .rozwijanyInfo:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  }
  
  .rozwactiveInfo:after {
	content: "\2212";
  }
  
  .rozwijanytekstInfo {
	font-family: calibri;
	padding: 0 20px 0 20px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
	text-align: justify;
	font-size: 80%;
  }


/* FORMULARZ */

.kontaktprawo{
	width: 55%;
    padding: 30px;
    text-align: center;
    font-size: 150%;
	justify-content:center;
	float: left;
}

.formularz{
	justify-content: center;
}

.pkontaktp{
	font-family: furore;
	padding-bottom: 30px;
	text-align: center;
}
input,textarea
{
  /*padding-top: 15px;
  padding-bottom: 15px;*/
  padding: 1em;
  font-family: calibri;
  width: 100%;
  font-size: 16px;
  border: 1px solid #333;
  resize: vertical;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
  font-family: calibri;
}

.full-width {
  grid-column: 1 / 3;
  position: relative;
}
.small-width{
/*width: 20%;
justify-items: right;
align-self: end;*/

display: flex;
align-items: center;
justify-content: end;
text-align: right;
}
.wynik{
	text-align: center;
	font-size: 100%;
	font-family: calibri;
	color: #333;
}
.wynik p{
	padding-top: 15px;
	padding-bottom: 15px;
}
.wider
{
	display: grid;
	grid-template-columns: 1.5fr 0.25fr 0.5fr;
	gap: 20px;
}
.zatwierdz{
	cursor: pointer;
}
.zatwierdz:hover{
	cursor: pointer;
	background-color: #444;
	color: white;
}

/*///////////////////////////////////////////////

	CENNIK.PHP					

///////////////////////////////////////////////*/

.trescCennik{
	display: block;
	width: 100%;
}

.rozwijanyCennik {
	background-color: #333;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 120%;
	font-weight: bold;
	display: block;
	/* overflow: hidden; */
  }
  
  .rozwactiveCennik {
	background-color: #555;
  }
  .rozwijanyCennik:hover {
	background-color: #6d6d6d
  }
  
  .rozwijanyCennik:after {
	content: "\2212";
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  }
  
  .rozwactiveCennik:after {
	content: '\002B';
  }
  
  .rozwijanytekstCennik {
	padding: 0 18px;
	max-height: 0;
	contain: paint;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
	display: block;
	z-index: 3;
  }

  table{
	  position: relative;
	  border-collapse: collapse;
	  border-spacing: 0cm;
	  border: solid 1px black;
	  width:100%;
	  font-family: calibri;
	  z-index: 2;

  }
  
  .usluga{
	  width: 70%;
	  font-size: 120%;
  }
  .usluga2{
	background-color: #cdcdcd;
	width: 40%;
	position: relative;
}
.pojecie{
	background-color: #cdcdcd;
	width: 20%;
	position: relative;
}
.definicja{
	width: 40%;
	position: relative;
	text-align: justify;
}
.definicja2{
	width: 40%;
	position: relative;
	text-align: center;
}
  .cena{
	width: 30%;
	text-align: center;
	word-wrap: break-word;
  }
  .cena2{
	width: 15%;
	text-align: center;
	word-wrap: break-word;
  }
  .cenauwaga{
	width: 100%;
	text-align: center;
	word-wrap: break-word;
	position: relative;
  }
  .cena3{
	width: 10%;
	text-align: center;
	word-wrap: break-word;
}
.cena4{
	width: 20%;
	text-align: center;
	word-wrap: break-word;
}
.cena5{
	width: 20%;
	text-align: center;
	word-wrap: break-word;
}
.sticky{
	position: sticky;
	z-index: 200;
	box-shadow: inset 0 1px 0 black, inset 0 -1px 0 black;
}
  td, th{
	padding: 10px;
	border: solid 1px black;
	background-clip: padding-box;


  }
  td{
	  background-color: white;
  }
  th
  {
	background-color: #999;
  }

  th > a, th > a:visited
  {
	text-decoration: none;
	color: black;
	border-bottom: dotted 1px white ;
  }
  .usluga2 > a, .usluga2 > a:visited
  {
	text-decoration: none;
	color: black;
	border-bottom: dotted 2px white ;
  }
  td > a, td > a:visited
  {
	text-decoration: underline;
	color: black;
	
  }
tr:hover > td{
	background-color: #e3e3e3;
}
.czerwony{
	color: red;
	text-align: center;
	font-size:150%;
}
.zielony{
	color: green;
	text-align: center;
	font-size:150%;
}
  .znacznikcennika{
	  font-family: calibri;
	  text-align: center;
	  font-size: 130%;
	  font-weight: bold;
  }
  .zastrzezenie{
	  visibility: hidden;
  }

/* ZASTRZEŻENIA */


.tooltip {
	border-bottom:2px dotted white; 
  }
  
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 90%;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 300;
	bottom: 90%;
	left: 5%;
  }
  
  .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	right: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }
.dziekuje{
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 130%;
}
/*///////////////////////////////////////////////

	VIDEO.PHP					

///////////////////////////////////////////////*/
.uslugi_menu
{
	height: 100%;
	width: 30%;
	
	background-color: #f1f1f1;
	position: sticky;
	overflow: inherit;
}
.uslugi_tresc
{
	height: 100%;
	width: 70%;
	background-color: #E8E8E8 ;

	margin-left: auto;
}
.uslugi_widok
{
	display: flex;
	background-color:gray;
	height: 50px;
	position: sticky;
	align-items: center;
	color:white;
	font-size: 120%;
}
.filtrowanie {
	
	color: white;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	/* overflow: hidden; */
	width: 100%;
	font-family: calibri;
	
}
.znacznikuslugi {
	padding-left: 5%;
	width: 100%;
	text-align: left;
	font-size: 120%;
	font-weight: bold;
	/* overflow: hidden; */
}
label {
    text-transform:capitalize;
	padding-left: 5%;
	width: 100%;
}
.opcja{
width: 20px;
height: 20px;
vertical-align: middle;
}
.uslugi_wynik_siatka{
border: 2px solid #b5b5b5;
text-align: center;
padding:1%;
margin:1%;
display: flex;
flex-direction: column;
vertical-align: middle;
flex-basis: 31.33333%;
font-size: 130%;
color: black;
background-color: #d0d0d0;
}
.uslugi_wynik{
	border: 2px solid #b5b5b5;
	text-align: center;
	padding:1%;
	margin:1%;
	display: flex;
	flex-direction: column;
	vertical-align: middle;
	flex-basis: 31.33333%;
	font-size: 130%;
	color: black;
	background-color: #d0d0d0;
	}

.produkty2 > .uslugi_wynik{
	border: 2px solid #d0d0d0;
	background-color: #E8E8E8;
	}
	
.uslugi_wynik_lista{
	display: flex;
	border: 2px solid #b5b5b5;
	text-align: center;
	margin:1%;
	width: 100%;
	vertical-align: middle;
	font-size: 130%;
	color: black;
	background-color: #d0d0d0;
	
	}
.imgresp{
	max-width: 100%;
	height: auto;
	margin: auto;
	}
.imgresp_siatka{
    max-width: 100%;
    height: auto;
	margin: auto;
}
.imgresp_lista{
	padding:1%;
    max-width: 35%;
    height: auto;
}
.span_siatka_1{
	height: 90%;
	padding-bottom: 2%;
}
.span_siatka_2{
	display: flex;
	justify-content:center;
	height: 10%;
	vertical-align: bottom;
}
.span_siatka_3{
	display: block;
	font-weight: bold;
}
.span_lista_1{
	display: flex;
	/*height: auto;*/
	height: 100%;
}
.span_lista_3{
	display: flex;
	font-size: 140%;
	font-weight: bolder;
	text-align: center;
	justify-content: center;
}
.span_lista_4{
	display: flex;
	padding:1%;
	font-size: 110%;
	flex-direction: column;
	justify-content: center;
	border-left: solid 1px black;
	height: 100%;
}
.span_lista_2{
display:none;
}
.a_siatka{
	text-decoration:none;
	width:100%;
	height: 100%;
	color:black;
}
.a_lista{
text-decoration:none;
width:80%;
color:black;
pointer-events:none;
}
h6{
	display: block;
	font-size: 75%;
}
.h6_siatka{
	display: block;
	font-size: 75%;
	}
.h6_lista{
	font-size: 100%;
	padding-left: 5%;
	padding-right: 5%;
	width:100%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content:space-evenly;
	}
.guzik_siatka{
	display: none;
}
.guzik_lista{
	display: flex;
	width: 20%;
	/*height: 100%;*/
	flex-direction: column;
}
.produkty{
flex-basis: 31.33333%;
flex-direction : row;
display: inline-flex;
flex-wrap: wrap;
justify-content: left;
vertical-align: middle;
padding: 1%;
width: 100%;
}
.produkty2{
	flex-basis: 31.33333%;
	flex-direction : row;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: left;
	vertical-align: middle;
	padding: 1%;
	width: 100%;
	}
.uslugi_sortuj{
	background-color: #333;
	color: white;
	position: sticky;
}
.item_styl{
	border: 2px solid #b5b5b5;
	text-align: center;
	padding:1%;
	margin:1%;
	display: flex;
	flex-direction: column;
	vertical-align: middle;
	flex-basis: 31.33333%;
	font-size: 130%;
	color: black;
	background-color: #d0d0d0;
	
}
.item_img_styl{
    max-width: 100%;
    height: auto;
}
.item_h6_styl{
	display: block;
	font-size: 75%;
}
.item_span1_styl{

	padding-bottom: 2%;
}
.item_span2_styl{
	display: flex;
	justify-content:center;
	height: 10%;
	vertical-align: bottom;
}
.item_span3_styl{
	display: block;
	font-weight: bold;
}
.item_guzik_styl{
	display:none;
}
.item_a_styl{
	text-decoration:none;
	width:100%;
	height: 100%;
	color:black;
}

/*
 GALERIA
*/
.imageSlides {
    display: none;
	margin-left: auto;
	margin-right: auto;
  }
  
  img {
    margin: auto;
    display: block;
  }
  
  /* Our main images-slideshow container */
  .images-slideshow {
	width: 100%;
    position: relative;
	margin:0;


  }

  .galeria{
	border: 2px solid  #d0d0d0;
	background-color: #E8E8E8 ;
	margin: 0;
	height: 100%;	
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
  }

  .popularne{
	height: 49.65%;
  }
  .textSlides{
	padding: 1%;
	text-align: center;

  }
   
  br{
	display: block;
  }
  /*Style for ">" next and "<" previous buttons */
  .slider-btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px 16px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(180, 180, 180, 0.3);
    border-radius: 50%;
  }
   
  /* setting the position of the previous button towards left */
  .previous {
    left: 2%;
  }
   /* setting the position of the next button towards right */
  .next {
    right: 2%;
  }
   
  /* On hover, adding a background color */
  .previous:hover,
  .next:hover {
    color: rgb(255, 253, 253);
    background-color: rgba(0, 0, 0, 0.8);
  }
  .imageSlides > img{
	
	width: 100%;
  }
.popularne{
	display: flex;
}
.popularne > .uslugi_wynik{
	margin: 0;
	margin-left: 1%;
	background-color: #E8E8E8 ;
	border: 2px solid #d0d0d0;
}
.popularne > .bottom{
	margin: 0;
	margin-left: 1%;
	margin-top: 1%;
}
.dlaczegomy{
	width: 45%;
	padding: 2%;
	text-align:justify;
	font-size: 125%;
}
.dlaczegomyvideo{
	width: 55%;
	padding: 2%;
}
video{
	width: 100%;
}
.welcomelewo{
	width: 70%;
}
.welcomeprawo{
	width: 30%;
}
.popularne{
	display: flex;
	flex-direction: column;
}
@media only screen and (max-width: 1650px){
	.tresc{
		width: 85%;
		left:7.5%;
	}
}
@media only screen and (max-width: 1350px){
	.tresc{
		flex-direction: column;
	}

	.uslugi_menu{
		width:100%;
		position: static;
	}
	.uslugi_tresc{
		width: 100%;
	}
	.menuav{
		display: flex;
		flex-direction: row;
	}
	.menuvideo{
		width: 50%;
	}
	.menuaudio{
		width: 50%;
	}
	.pkontaktl{
		text-align: center;
	}
	.kontaktlewo{
		width: 100%;
	}
	.kontaktprawo{
		width:100%;
	}

}
@media only screen and (min-width: 1150px){
	.smallonly{
		display: none;
	}
}
@media only screen and (max-width: 1150px){

	.tresc{
		flex-direction: column;
		width: 95%;
		left:2.5%;
	}
	.imgresp_lista{
		max-width: 40%;
	}
	.menuvideo{
		width: 50%;
	}
	.menuaudio{
		width: 50%;
	}

	.menuav{
		display: flex;
		flex-direction: row;
	}	

	.uslugi_wynik_siatka{
		flex-basis: 48%;
	}
	.uslugi_wynik{
		flex-basis: 48%;
	}
	.ostatni{
		display: none;
	}
	.imgresp_lista{
		max-width: 45%;
	}
	.porownanie{
		flex-direction: column;
	}
	.dlaczegomy{
		width: 100%;
	}
	.dlaczegomyvideo{
		width: 100%;
	}
	.welcome{
		flex-direction: column;
	}
	.wideonly{
		display: none;
	}
	.welcomelewo{
		width: 100%;
	}
	.welcomeprawo{
		width: 100%;
	}
	.popularne{
		display: flex;
		flex-direction: row;
		flex-basis: 48%;
		justify-content: space-between;
	}
	.popularne >.uslugi_wynik{
		margin-left: 0;
		margin-top: 0;
	}

}
@media only screen and (max-width: 800px){
	body{
		font-size: 32px;
	}
}
@media only screen and (max-width: 500px){
	body{
		font-size: 32px;
	}
}